<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Burgers!</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js
"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/css?family=Acme|Catamaran:600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fascinate+Inline" rel="stylesheet">
	{{!-- <link rel="stylesheet" href="../../anything.css"> --}}
</head>

<body>
	{{{ body }}}
</body>

</html>