<h1 id= "header">EAT-DA-BURGER!</h1>
<h2>Select a pre-made burger or create your own custom burget in the field below!</h2>
<main>
  <div class="container">
    <div class="row">
      <div class="col s6">
        {{#each burgers}} {{#unless this.eaten}}
        <div>
          <form>
            <span id="burgerSpan">{{this.burger_name}}</span>
            <button id={{this.id}} type="submit" class="burgerButton"> Eat-Da-Burger</button>
          </form>
        </div>
        {{/unless}} {{/each}}
      </div>

      <div class="col s6">
        {{#each burgers}} {{#if this.eaten}}
        <div class='burgerEaten'>
          <div>
            {{this.burger_name}}
          </div>
        </div>
        {{/if}} {{/each}}
      </div>
    </div>
  </div>
</main>

<center>
<h2>Add Your Custom Burger!</h2>
<div class="row">
  <div class="col s12">
    <center>
    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Enter Custom Burger">
      <button type="submit" class="addBurgerButton">Order Custom Burger!</button>
    </form>
    </center>
  </div>
</div>
</center>


<script>
  $(document).ready(function () {

    $("#burgerButton").appendTo("#burgerSpan");


    $(".burgerButton").click(function (event) {
      
     var burgerEaten = {
        eaten: true
      }
      event.preventDefault();
      console.log($(this));
      $.ajax("/api/burgers/" + $(this).attr("id"), {
        type: "PUT",
        data: burgerEaten
      }).then(
        function () {
          console.log("Burger changed to eaten", burgerEaten);
          // Reload the page to get the updated list
          window.location.reload();
        });     
    });
  });

</script>

<style>
  body {
    background-image: url("/burger.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
    font-family: 'Catamaran', sans-serif;
};

h1 #header {
    font-family: 'Fascinate Inline', cursive;
    margin-bottom: 20px;
};

button {
  background-color: #F5CB5C;
  color: #333533;
}

#burgerSpan {
  font-size: 20px;
  background-color: #F5CB5C;
  color: #333533;
}

</style>